\begin{tikzpicture}
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(0*\cardwidth,1*\cardheight)}]
        \VAR{c[0]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(1*\cardwidth,1*\cardheight)}]
        \VAR{c[1]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(2*\cardwidth,1*\cardheight)}]
        \VAR{c[2]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(3*\cardwidth,1*\cardheight)}]
        \VAR{c[3]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(4*\cardwidth,1*\cardheight)}]
        \VAR{c[4]}
    \end{scope}
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(0*\cardwidth,0*\cardheight)}]
        \VAR{c[5]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(1*\cardwidth,0*\cardheight)}]
        \VAR{c[6]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(2*\cardwidth,0*\cardheight)}]
        \VAR{c[7]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(3*\cardwidth,0*\cardheight)}]
        \VAR{c[8]}                                                                     
    \end{scope}                                                                       
    \begin{scope}[every node/.style={inner sep=0, outer sep=0}, shift={(4*\cardwidth,0*\cardheight)}]
        \VAR{c[9]}
    \end{scope}
\end{tikzpicture}


